{% load accounts_tag %}
{% for i in content %}
    <tr class="gradeA odd" role="row" id="{{ i.id }}">
        <td class="sorting_1">{{ forloop.counter }}</td>
        <td class="center">{{ i.in_ip }}</td>
{#        <td><a href="/fms/detail/{{ i.id }}">{{ i.host_name }}</a></td>#}
        <td>
            <a name="host_name" class="text-info" href="#">{{ i.host_name }}</a>
            <input type="hidden" value="{{ i.os_version }}&
                                                            {{ i.os_kernel }}&{{ i.cpu_model }}&
                                                            {{ i.cpu_count }}&{{ i.cpu_cores }}&
                                                            {{ i.mem }}&{{ i.disk }}&
                                                            {{ i.max_open_files }}&
                                                            {{ i.uptime }}&
                                                            {{ i.ex_ip }}">
        </td>
        <td class="center">{{ i.app_project.app_name_cn }}</td>
        <td class="center">{{ i.idc }}</td>
        <td class="center">{{ i.app_project.app_name_en }}</td>
{#                <td class="center">{{ i.status }}</td>#}
        <td>
            {% if i.status %}
                <span><img src="/static/img/Up.gif">UP</span>
            {% else %}
                <span style=""><img src="/static/img/Down.gif">DOWN</span>
            {% endif %}
        </td>
        <td class="center">{{ i.author.fullname }}</td>
        <td class="center">{{ i.ctime }}</td>

        <td class="center">
{#            <a id="edit_Id_{{i.id}}" class="btn btn-xs btn-success btn-edit" data-toggle="modal" value="编辑" onclick="get_edit_info(this)" data-target="#editInfoModal">编辑</a>#}
            <button data-row="{{ i.id }}|{{ i.project_name }}|{{ i.service_name }}|{{ i.in_ip }}|{{ i.ex_ip }}|{{ i.groups.all | grouptostr }}|{{ i.idc_id }}|{{ i.app_project_id }}|{{ i.system_user_id }}" class="btn btn-xs btn-success btn-edit" data-toggle="modal" data-target="#editInfoModal">编辑</button>

            {#            <a class="btn btn-xs btn-primary btn-email" data-toggle="modal" data-target="#editor"#}
{#               data-row={{ i.id }}|{{ i.author.fullname }}>更新</a>#}
            <a class="btn btn-xs btn-default" id="server_update_{{i.id}}">刷新</a>
{#            <a href=/fms/edit?id={{ i.id }} class="btn btn-xs btn-danger btn-edit">删除</a>#}
            <a class="btn btn-xs btn-danger" id="server_delete_{{i.id}}">删除</a>
{#            <a type="button" class="btn btn-primary btn-xs bt-webssh">终端</a>#}
        </td>
    </tr>

{% endfor %}