{% extends 'base/base_site.html' %}
{% block css %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="ibox-title" style="background-color:#E8FFF5">
        <h5>k8s容器列表</h5>
    </div>
    <div class="ibox-content">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline">
            <div class="row">
                <div class="col-sm-9">
                    <div class="dataTables_length" id="DataTables_Table_0_length" style="margin-bottom:15px;">
                        {{ request.perms.List }}
                        <a class="btn btn-sm btn-success btn-add" data-toggle="modal" data-target="#addInfoModal"><i
                                class="fa fa-plus"></i> test</a>
                        <input type="text" placeholder="搜索: 服务、名称、IP等" id="search" class="form-control input-sm">

                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                   id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                <thead>
                <tr role="row">
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">序号</th>
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">容器IP</th>
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">容器名称</th>
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">所属节点</th>
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">命名空间</th>
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">启动时间</th>
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">操作</th>
                </tr>
                </thead>
                <tbody id="content">
                {% include 'kube/container_table.html' %}
                </tbody>
            </table>

            {% include 'common/paginator.html' %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}

    <script type="text/javascript">

    </script>

{% endblock %}