{% if form %}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        节点信息
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ form.ip.label }}</label>
                    <div class="col-sm-8">{{ form.ip }}
                        <p style="color:#FF0000">{{ error }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ form.role.label }}</label>
                    <div class="col-sm-8">{{ form.role }}
                        <!--   <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ form.type.label }}</label>
                    <div class="col-sm-8">{{ form.type }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ form.LB_ROLE.label }}</label>
                    <div class="col-sm-8">{{ form.LB_ROLE }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12  col-sm-offset-5" style="margin-bottom:200px;">
            <button class="btn btn-white" type="submit" onclick="javascript:history.back(-1);">取消</button>
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </div>
{% else %}
    <p style="text-align:center;color:#FF0000;font-weight:bold;">{{ error }}</p>
{% endif %}
