{% extends "base/base_site.html" %}
{% load	bootstrap3 %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/plugins/chosen/chosen.css">
    {{ block.super }}
    <style>
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>K8S安装</h5>
                </div>
                <div class="ibox-content">
                    <h3>
                        K8S安装说明：
                        <div class="hr-line-solid"></div>
                    </h3>
                    <h4>
                        第一步：
                        在每个节点安装依赖工具
                        <br>
                        <div class="hr-line-dashed"></div>
                        Ubuntu 16.04 请执行以下脚本:
<br>
                        # 文档中脚本默认均以root用户执行<br>
                        apt-get update && apt-get upgrade -y && apt-get dist-upgrade -y<br>
                        # 安装python2<br>
                        apt-get install python2.7<br>
                        # Ubuntu16.04可能需要配置以下软连接<br>
                        ln -s /usr/bin/python2.7 /usr/bin/python<br><br>

                        CentOS 7 请执行以下脚本：<br>

                        # 文档中脚本默认均以root用户执行<br>
                        # 安装 epel 源并更新<br>
                        yum install epel-release -y<br>
                        yum update<br>
                        # 安装python<br>
                        yum install python -y<br>
                    </h4>

                    {#                    <form class="form-horizontal" method="post" action="{% url "deploy_maven_jar" %}" enctype="multipart/form-data">#}
                    {#                        <div class="form-group">#}
                    {#                            <div class="col-sm-10 col-sm-offset-0">#}
                    {#                                {% bootstrap_field form.groupId layout="horizontal" %}#}
                    {#                                {% bootstrap_field form.artifactId layout="horizontal" %}#}
                    {#                                {% bootstrap_field form.version layout="horizontal" %}#}
                    {#                                {% bootstrap_field form.classifier layout="horizontal" %}#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="form-group">#}
                    {#                            <div class="col-sm-8 col-center-block">#}
                    {#                                <input id="file-Portrait" name="jarFile" type="file" class="file-loading">#}
                    {#                            </div>#}
                    {#                        </div>#}

                    <div class="hr-line-dashed"></div>
                    {#                        <div class="form-group">#}
                    {#                            <div class="col-sm-4 col-sm-offset-8">#}
                    {#                                <button class="btn btn-success" type="submit">上传</button>#}
                    {#                                <button class="btn btn-white" type="reset">重置</button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </form>#}

                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-8">
                        <button class="btn btn-success" type="submit" id="k8s_install">已阅说明，开始安装</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'tasks/k8s-install.html' %}
{#        <div class="col-sm-6">#}
{#            <div class="ibox float-e-margins">#}
{#                <div class="ibox-title">#}
{#                    <h5>输出结果：</h5>#}
{#                    <h5>#}
                        {#                        <div style="color:red;">  {{ msg }}</div>#}
{#                    </h5>#}
{#                </div>#}
{#                <div class="ibox-content  pres" id="log_info">#}
{#                    <pre> <span>shiwo</span></pre>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}

{#    <script>#}
{#   		function update() {#}
{#   			$.getJSON("/tasks/flush_k8s_install_log/",function(data) {#}
{#            	$.each(data, function(){#}
{#            		$("#log_info").html('<pre> <span>' + this.log_info + '</span></pre>');#}
{#            	});#}
{#   			});#}
{#   		}#}
{#   		function timeDown(limit, i) {#}
{#   			limit--;#}
{#   			if (i > 4) {#}
{#   				i = 0;#}
{#   			}#}
{#   			if (limit < 0) {#}
{#   				limit = 1;#}
{#   				update(i);#}
{#   				i++;#}
{#   			}#}
{#   			$('#time').text(limit + '秒后刷新');#}
{#   			setTimeout(function() {#}
{#   			    timeDown(limit, i);#}
{#   		    }, 1000)#}
{#   		}#}
{##}
{#   		$(document).ready(function() {#}
{#   			timeDown(1, 0)#}
{#        })#}
{#   </script>#}

    <script>
        $('#k8s_install').on('click', function () {
            $("#log_info").html('<pre><span><font color="green">开始安装，请耐心等待安装结果...\n' +
                '也可查看后台日志，日志文件所在位置在项目部署同级目录，如：\ndrwxr-xr-x  2 root root  41 Mar  5 13:21 logs\n' +
                'drwxr-xr-x 15 root root 284 Mar  5 13:21 omms</font></span></pre>');
            var url = "/tasks/k8s_install/"
            $.getJSON(url, function (data) {
                $.each(data, function () {
                    $("#log_info").html('<pre><span><font color="blue">' + this.log_info + '</font></span></pre>');
                });
            });
            this.disabled = true;
        });

    </script>
{##}
{#    <script>#}
{#        $('#k8s_install').on('click', function () {#}
{#            var url = "/tasks/k8s_install/"#}
{#            $.get(url, function (msg) {#}
{#                ajax_callback(msg);#}
{#            });#}
{#            this.disabled = true;#}
{#        });#}
{##}
{#    </script>#}


    <script>
        /*
            *ajax get callback
            */
        function ajax_callback(msg) {
            var msg = $.parseJSON(msg);
            var index = layer.alert(msg, { //layer控件提示信息
                skin: 'layui-layer-molv' //样式类名
            }, function () {
                if (msg == '成功') {
                    window.location = "/tasks/k8s/";
                } else if (msg == '失败') {
                    window.location = "/tasks/k8s/";
                } else {
                    layer.close(index)
                }
            });
        }

    </script>
{% endblock %}